<% provide(:title, 'About Us') %>
	<h1>About Us</h1>
	<p>
		Hi! My name is <strong>Dao Duc Cuong</strong>. I'm 20 years old. Currently, I'm studying Computer Science at School of Information and Communication Technology at Hanoi University of Science and Technology. My major is mostly Software Engineering.
	</p>
	<p>
		I am also a <em>LOTUS III - Erasmus Mundus Action 2 (EMA2)</em> Grant holder. I will have a one-semester exchange period at Department of Information Technology at Uppsala University, Sweden this fall.
	</p>

