<% provide(:title, 'Home') %>
	<h1>My Tweet</h1>
	<p>
		This is the home page for My Tweet Demo Application.
		It is a labotary in the Web Development course.
		<br>Coded by <a href="http://www.facebook.com/duccuongict">duccuongict</a>
	</p>

