<div class="center hero-unit">
	<h1>Welcome to the My Tweet Demo Application</h1>
	<h2>
	<br>
		This is the home page for My Tweet.<br>
		It is a labotary in the Web Development course.
		<br>Coded by <a href="http://www.facebook.com/duccuongict">duccuongict</a>
	</h2>

	<%= link_to "Sign up now!", signup_path,  class: "btn btn-large btn-primary" %>
</div>
	